certifi==2018.1.18
chardet==3.0.4
Django==1.11.28
django-allauth==0.35.0
django-filter==1.1.0
django-rest-auth==0.9.3
djangorestframework==3.7.7
idna==2.6
Markdown==2.6.11
oauthlib==2.0.7
python-openid==2.2.5
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22